<div>
  <div id="wrapper" class="fade-in">
    <!-- Intro -->
      <div id="intro">
        <h1>Free Workout<br />
          Progress Tracker</h1>
        <p>Stay on track with everything you need to grow stronger.</p>
        <ul class="actions special">
          <li>
            <button class="gsi-material-button" (click)="handleOauthResponse()">
              <div class="gsi-material-button-state"></div>
              <div class="gsi-material-button-content-wrapper">
                <div class="gsi-material-button-icon">
                  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                    <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                    <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                    <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                    <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                    <path fill="none" d="M0 0h48v48H0z"></path>
                  </svg>
                </div>
                <span class="gsi-material-button-contents">Sign in with Google</span>
                <span style="display: none;">Sign in with Google</span>
              </div>
            </button>
          </li>
        </ul>
        <ul class="actions">
          <li><a href="#/login/#main" class="button icon solid solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
      </div>

    <!-- Header -->
      <!-- <header id="header">
        <a href="index.html" class="logo">Massively</a>
      </header> -->

    <!-- Nav -->
      <!-- <nav id="nav">
        <ul class="links">
          <li class="active"><a href="index.html">This is Massively</a></li>
          <li><a href="generic.html">Generic Page</a></li>
          <li><a href="elements.html">Elements Reference</a></li>
        </ul>
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        </ul>
      </nav> -->

    <!-- Main -->
      <div id="main">

        <!-- Featured Post -->
          <article class="post featured">
            <header class="major">
              <h2>A Record of</h2>
                <h1>your Work</h1>
            </header>
            <a href="#" class="image main"><img [src]="poster" /></a>
          </article>

        <!-- Posts -->
          <section class="posts">
            <article>
              <header>
                <h2><a href="#">Access Insights<br />
                  with Charts</a></h2>
              </header>
              <p>Analyze trends and feedback to optimize workout strategies and minimize the risk of overtraining.</p>
            </article>
            <article>
              <header>
                <h2>Track Progress <br />
                  Easily</h2>
              </header>
              <p>Log your lifts, reps, and weights to visualize progress over time and ensure you're following the principle of progressive overload.</p>
            </article>
            <article>
              <header>
                <h2>Identify<br />
                  Plateaus</h2>
              </header>
              <p>Highlight trends in your performance to recognize when progress has stalled, allowing for timely adjustments to your routine.</p>
            </article>
            <article>
              <header>
                <h2>Improve<br />
                  Motivation</h2>
              </header>
              <p>Seeing historical progress motivates you to stay consistent and push harder during workouts.</p>
            </article>
            <article>
              <header>
                <h2>Encourage <br/>
                  Accountability</h2>
              </header>
              <p>By logging workouts, you create a personal record, making you more committed to your fitness journey.</p>
            </article>
            <article>
              <header>
                <h2>Save Time <br/>
                  and Efforts</h2>
              </header>
              <p>A centralized system eliminates the need for manual note-taking, providing convenience for fitness enthusiasts.</p>
            </article>
          </section>

          <ul class="actions special">
            <li>
              <button class="gsi-material-button" (click)="handleOauthResponse()">
                <div class="gsi-material-button-state"></div>
                <div class="gsi-material-button-content-wrapper">
                  <div class="gsi-material-button-icon">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;">
                      <path fill="#EA4335" d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z"></path>
                      <path fill="#4285F4" d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z"></path>
                      <path fill="#FBBC05" d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z"></path>
                      <path fill="#34A853" d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z"></path>
                      <path fill="none" d="M0 0h48v48H0z"></path>
                    </svg>
                  </div>
                  <span class="gsi-material-button-contents">Sign in with Google</span>
                  <span style="display: none;">Sign in with Google</span>
                </div>
              </button>
            </li>
          </ul>

      </div>

    <!-- Footer -->
      <footer id="footer">

        <section class="split contact">
          <section>
            <h3>Email</h3>
            <p>chunhimyip&#64;gmail.com</p>
          </section>
          <section>
            <h3>Github</h3>
            <ul class="icons alt">
              <li><a href="https://github.com/yhmyhm0910/workout-progress" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
            </ul>
          </section>
        </section>
      </footer>
  </div>
</div>


<!-- <div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-center">
  <c-container breakpoint="md">
    <c-row class="justify-content-center">
      <c-col lg="10" xl="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              <form cForm>
                <h1>Login</h1>
                <p class="text-body-secondary">Sign In to your account</p>
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input autoComplete="username" cFormControl placeholder="Username" />
                </c-input-group>
                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input
                    autoComplete="current-password"
                    cFormControl
                    placeholder="Password"
                    type="password"
                  />
                </c-input-group>
                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" color="primary">
                      Login
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Forgot password?
                    </button>
                  </c-col>
                </c-row>
              </form>
            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'minWidth.%': 44}" class="text-white bg-primary py-5">
            <c-card-body class="text-center">
              <div>
                <h2>Sign up</h2>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                  Register Now!
                </button>
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div> -->
